<div class="container-fluid navigator">
  <div class="row">
    <div class="col-md-6 logo">
      <h1><strong class="f5">F5</strong><span class="letter">u</span></h1>
    </div>
    <div class="col-md-6 social">
      <h1><strong class="f5">F5</strong><span class="letter">u</span></h1>
    </div>
  </div>

  <section class="content axis">
    <div class="row searcher">
      <div class="col-md-12">
        <form class="js-form">
          <span class="input">
            <input class="input__field" type="text" id="searcher" />
            <label class="input__label" for="searcher">
              <span class="input__label-content">What do you want to search?</span>
            </label>
          </span>
        </form>
      </div>
    </div> 
  </section>
</div> 

<section class="content">
  <div data-hook="masters-info" class="row results">
    <div class="col-md-4 recent_search">
      
    </div>
    <div data-hook="twitter" class="col-md-4 twitter">
      
    </div>
    <div data-hook="tweets" class="col-md-4 linkedin">
      
    </div>
  </div>
</section>