// Place all the styles related to the pruebas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.grey_background {
  background-color: #ecf0f1;
}

.navigator {
  background-color: black;
  height: 150px;
}

.f5 {
  color: #f39c12;
  font-size: 100px;
  font-family: 'Open Sans Condensed', sansserif;
}

.letter {
  color: white;
  font-size: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.searcher {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo {
  float:left;
}

.social {
  float: right;
  text-align: right;
}

.button {
  margin-left: 0px;
}

textarea:focus, 
input:focus, 
input[type]:focus, 
.uneditable-input:focus {   
    border-color: rgba(243, 156, 18, 0.8);
    box-shadow: 0 1px 1px rgba(243, 156, 18, 0.075) inset, 0 0 8px rgba(243, 156, 18, 0.6);
    outline: 0 none;
}

/* Animation */
.input.js-axis-hover {
    transform: translate(0,-265px);
    -webkit-transform: translate(0,-265px);
    -o-transform: translate(0,-265px); 
    -moz-transform: translate(0,-265px);
}

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out; 
}

/* Kyo */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input {
  z-index: auto;
   transition: .6s linear all;
}

.input__field {
  padding: 0.85em 1.5em;
  width: 100%;
  border-radius: 2em;
  background: #fff;
  color: #535d92;
 
}

.input__label {
  z-index: 0;
  padding: 0 0 0 2em;
  width: 100%;
  text-align: left;
}

.input__label::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  //background: rgba(243, 156, 18, 0.6); /*rgba(11, 43, 205, 0.6);*/
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.focused {
  background-color: rgba(243, 156, 18, 0.6);
}

.input__label-content {
  padding: 0.5em 0;
}

.input__field:focus,
.input__field:focus +  .input__label .input__label-content {
  z-index: 10000;
}

.input__field:focus + .input__label {
  color: #fff;
}

.input__field:focus + .input__label::after {
  opacity: 1;
}

.tweets {
  border: 1px solid grey;
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}

.btn-linkedin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60a9ce;
  *background-color: #4393bb;
  background-image: -moz-linear-gradient(top, #73b8db, #4393bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb));
  background-image: -webkit-linear-gradient(top, #73b8db, #4393bb);
  background-image: -o-linear-gradient(top, #73b8db, #4393bb);
  background-image: linear-gradient(to bottom, #73b8db, #4393bb);
  background-repeat: repeat-x;
  border-color: #4393bb #4393bb #2f6783;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73b8db', endColorstr='#ff4393bb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-linkedin.disabled,
.btn-linkedin[disabled] {
  color: #ffffff;
  background-color: #4393bb;
  *background-color: #3c84a8;
}

.btn-linkedin:active,
.btn-linkedin.active {
  background-color: #367595 \9;
}

.btn-linkedin.active.clicked {
  background-color: #4393bb \9;
}

.invisible {
  display: none;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

// #loading-image {
//   position: absolute;
//   top: 100px;
//   left: 240px;
//   z-index: 100;
// }
